$font_main: 'Poppins', sans-serif;

$color_main: #8c4b9d;
$color_white: #ffffff;
$color_black: #000000;
$color_light-pink: #faf7fb;
$color_dark-violet: #563595;


$gradient_main:  linear-gradient(107deg, #8c4b9d 0%, #563595 100%);
