$font_main : "Montserrat",sans-serif;
$font_second : "Effra",sans-serif;

$color_black: #494949;
$color_white: #ffffff;
$color_green: #25b19a;
$color_dark-blue: #001332;
$color_dark-blue-2:#1d3559;
$color_pink: #BD4870;
$color_grey-2: #dddddd;
$color_grey-3: #707070;

$gradient_green: linear-gradient(118deg, #001332 0%, #25b19a 100%);
$gradient_green-2: linear-gradient(to right, #008ad1 0%, #64b562 100%);
$gradient_red: linear-gradient(to bottom, #ec6d6e 0%, #932769 100%);
