$color_gradient_1: linear-gradient(135deg,  #e40445 0%,#f59b02 100%);
$color_white: #ffffff;
$color_black: #000000;
$color_purple: #6532B2;
$color_yellow: #F5A100;
$color_red: #E40047;
$color_gray: #E6E5E4;




$font_main: 'Mulish', sans-serif;
$font_second: 'ArticulatCF', sans-serif;
