.fixed {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section-padding {
  padding: 100px 0;
}

.title {
  font-size: 60px;
}

.descr {
  font-size: 24px;
}

.header {
  padding: 30px 0;
  border-bottom: 2px solid #000;
}
.header__logo {
  font-size: 120px;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.task {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px;
  border: 1px solid black;
}
.task__title {
  margin-bottom: 15px;
}
.task__descr {
  margin-bottom: 20px;
}

.btns-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 0 -15px -15px;
}
.btns-list > * {
  margin: 0 0 15px 15px;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-list > li {
  width: 100%;
}
.task-list > li:not(:last-child) {
  margin-bottom: 30px;
}
.task-list__btns {
  margin-bottom: 15px;
}

.btn {
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  border: 1px solid #000;
  transition: all 0.3s;
  min-width: 150px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn_red {
  background-color: red;
  border-color: red;
}
.btn_red:hover {
  background-color: #fff;
  color: red;
}

.task-form {
  display: flex;
  flex-direction: column;
}
.task-form > *:not(:last-child) {
  margin-bottom: 20px;
}

.new-task .nt__title {
  margin-bottom: 20px;
}

.input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  font-size: 24px;
  padding: 5px;
  resize: none;
  border: 1px solid #000;
  font-family: "Roboto";
}

textarea.input {
  height: 100px;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style-position: inside;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

label,
button,
input[type=submit],
input[type=button] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  padding: 0;
}

button,
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 0;
}