$font_montserrat: 'Montserrat', sans-serif;
$font_varela: 'Varela', sans-serif;
$font_main: 'Effra', sans-serif;


$color_black: #161c2c;
$color_dark-green: #223f3c;
$color_light-green: #00c7aa;
$color_light-green-2: #2afacf;
$color_white: #ffffff;
$color_violet:  #b919aa;