$font_main: 'ProximaNova', sans-serif;
$color_white: #d2d5d2;
$color_blue: #009ABC;
$color_green: #3bb291;
$color_purple: #72618A;
$color_blue-dark: #102754;
$color_gray:#5d6d77;

$color_black: #000;

$gradient-1: linear-gradient(to right, #06171d 0%, #102754 100%);

$gradient-2:  linear-gradient(-18.96deg, #102754 0%, #009abc 100%);