$color_white: #fff;
$color_red: #e52558;
$color_blue-dark: #163246;
$color_blue-light: #4eafe0;
$color_blue-light-2: #0096d1;
$color_blue-light-3: #67ccff;
$color_blue-light-4: #2d7da5;
$color_orange: #f49c20;
$color_gray: #e0e0e0;
$color_gray-2: #707070;
$color_black: #484848;

$gradient-blue-1: linear-gradient(153deg, #163246 0%, #447ba1 100%);
$gradient-blue-2: linear-gradient(14deg, #163246 0%, #447ba1 100%);
$gradient-blue-3: linear-gradient(to right, #163246 0%, #091229 100%);

$font_main:  "program",sans-serif;
