.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding: 50px 0;
  border-bottom: 1px solid #000;
}
.header__title {
  text-align: center;
  display: block;
  width: fit-content;
  color: #000;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}

.section-padding {
  padding: 100px 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.fixed {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.fixed_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-recipe .nr__title {
  margin-bottom: 40px;
}

.input-1 {
  width: 100%;
  resize: none;
  padding: 5px;
  font-family: "Roboto";
}

textarea.input-1 {
  height: 100px;
}

.label-1 {
  width: 100%;
}
.label-1__title {
  margin-bottom: 10px;
}

.recipe-form {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.recipe-form > *:not(:last-child) {
  margin-bottom: 30px;
}

.section-1 .s1__title {
  margin-bottom: 30px;
}
.section-1 .s1__btns {
  margin-bottom: 30px;
}

.list-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
}
.list-1 > li {
  width: 100%;
}
.list-1 > li:not(:last-child) {
  margin-bottom: 30px;
}

.review-card {
  border: 1px solid #000;
  padding: 20px;
}
.review-card .fc__author {
  margin-bottom: 15px;
  font-weight: 700;
}

.descr {
  font-size: 24px;
}
.descr > p:not(:last-child) {
  margin-bottom: 20px;
}

.recipe-card {
  width: 100%;
  padding: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  color: #fff;
}
.recipe-card:hover .rc__img {
  transform: scale(1.2);
}
.recipe-card .rc__title {
  margin-bottom: 20px;
}
.recipe-card .rc__img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.3s;
}
.recipe-card .rc__img:after {
  position: absolute;
  background: #000;
  opacity: 0.2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.recipe-card .rc__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.btns-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 -10px -20px;
}
.btns-list > * {
  margin: 0 0 10px 20px;
}

.btn {
  text-align: center;
  display: flex;
  width: fit-content;
  padding: 10px 20px;
  background-color: #000;
  transition: all 0.3s;
  color: #fff;
  border: 1px solid #000;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn_white-border {
  border-color: #fff;
}

.title {
  font-size: 50px;
}

.recipe-page .rp__title {
  margin-bottom: 20px;
  text-align: center;
}
.recipe-page .rp__img {
  max-width: 1000px;
  height: 500px;
  margin: 0 auto 50px auto;
}
.recipe-page .rp__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recipe-page .rp__descr {
  text-indent: 2em;
  text-align: justify;
}

.section-review .sf__title {
  margin-bottom: 30px;
}
.section-review .sf__list {
  max-width: 800px;
  margin: 0 auto;
}
.section-review .sf__form:not(:last-child) {
  margin-bottom: 50px;
}

.review-form {
  display: flex;
  flex-direction: column;
}
.review-form > *:not(:last-child) {
  margin-bottom: 20px;
}

.dialog-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 12px;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style-position: inside;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

label,
button,
input[type=submit],
input[type=button] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  padding: 0;
}

button,
input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 0;
}